.git
.github
.DS_Store
**/.DS_Store

web/node_modules
web/.next
web/out
web/.env.local
web/.env*.local
web/next-env.d.ts
web/tsconfig.tsbuildinfo

ml/.cache
ml/__pycache__
ml/.venv
ml/mlruns
ml/mlartifacts
ml/mlflow.db
**/*.pyc

gha-creds-*.json
